<link rel="stylesheet" href="./component-empleado.component.css">

<div class="contenedor">
    <h1>Empleados</h1>
    <div class="contenedor-lista">
        <ul>
            <li *ngFor="let empleado of  empleados">
                <p>Nombre: {{empleado.nombre}}</p>
                <p>Edad: {{empleado.edad}}</p>
                <p *ngIf="!empleado.pasante">Puesto: {{empleado.datos.puesto}}</p>
                <p *ngIf="!empleado.pasante">Antiguedad: {{empleado.datos.antiguedad}}</p>
                <hr>
            </li>
        </ul>
    </div>
</div>


<!-- <p>Nombre:{{empleados.nombre}}</p> -->

<!-- <div *ngIf="empleados">
    <p>Nombre: {{empleados[0].nombre}}</p>
    <p>EDAD: {{empleados[0].edad}}</p>
</div> -->